/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
div.col-xs-3{
    width: 20.9%;
    min-width: 100px;
    float: left;
    margin: 15px;
    height: 200px;
}
@media screen and (max-width: 1300px){
    div.col-xs-3{ width:100%}
}
.wrap h2{
    display:none;
}
#welcome-panel{
    display:none;
}
.assigmnet_media_type{
    margin: 10px;
    display: inline;
}
.assignment_finish{
    margin: 10px;
    padding: 3px;
    text-align: center;
}
input[type=text], textarea{
    width: 100% !important;
}
.quick_assignment textarea{
    height: 100px;
}
h3.hndle.ui-sortable-handle {
    font-size: 1.3em;
}