/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.media-totals{
    text-align: center;
    padding-top: 15px;
}

.media-btn{
    display:inline-block;
    width:50px;
    min-height: 20px !important;
}
div.tile{
    float: left;
    width: 200px
}

@media screen and (max-width: 1300px){
    div.col-xs-3{ width:100%}
}

.wrap h2{
    display:none;
}
#welcome-panel{
    display:none;
}
.assigmnet_media_type{
    margin: 10px;
    display: inline;
}
.assignment_finish{
    margin: 10px;
    padding: 3px;
    text-align: center;
}
input[type=text], textarea{
    width: 100% !important;
}
.quick_assignment textarea{
    height: 100px;
}
h3.hndle.ui-sortable-handle {
    font-size: 1.3em;
}

/*
* Assignment Map
*/

#map-canvas {
    height: 250px;
}
#lat_lon_input{

    display:none;

}
#type-selector{
    display:none;
}
.controls {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 99%;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
.fa-assignment{
    margin-right:15px;
}


/*
    Active assignments table
    */
.fancy_table{
    width: 100%;
}
#active_assignments tr{
    cursor: pointer;
}
.fancy_table th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #6D929B;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA;
}

.fancy_table  th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}
.assign-btn{
    min-height: 0px !important;
}

/*
    Media gallery widget
*/
#latest-media-thumbnials{
    width: 100%;
    text-align: center;
}
.show_thumb{
    display: inline-block;
    width: 145px;
    height: 185px;
    background-color: #000;
    margin: 1px;
}
.show_thumb_caption{
    height: 30px;
    background-color: #fff;
}
#latest-media-thumbnials img{
    width: 145px;
    height: 145px;
}
.show_audio_thumb{
    width: 145px !important;
    height: 150px;
}
.show_video_thumb{
    width: 145px !important;
    height: 150px;
}
a.media-btn.btn.btn-block {
    width: 17.4%;
    margin: 0px;
}
.latest_media_text{
    font-size: 2em;
    margin: 10px;
}
.latest_media_text .img{
    margin-right: 10px;
}
.latest-media-btn{
    padding: 5px 0px !important;
}
.latest-media-tr{
    width: 100%;
}