/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.media-totals{
    text-align: center;
}

.media-btn{
    margin: 10px;
    display:inline-block;
    width:150px;
    min-height: 30px !important;
}
div.tile{
    float: left;
    width: 200px
}

@media screen and (max-width: 1300px){
    div.col-xs-3{ width:100%}
}

.wrap h2{
    display:none;
}
#welcome-panel{
    display:none;
}
.assigmnet_media_type{
    margin: 10px;
    display: inline;
}
.assignment_finish{
    margin: 10px;
    padding: 3px;
    text-align: center;
}
input[type=text], textarea{
    width: 100% !important;
}
.quick_assignment textarea{
    height: 100px;
}
h3.hndle.ui-sortable-handle {
    font-size: 1.3em;
}

/*
* Assignment Map
*/

#map-canvas {
    height: 250px;
}
#lat_lon_input{

    display:none;

}
#type-selector{
    display:none;
}
.controls {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 99%;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
.fa-assignment{
    margin-right:15px;
}

/*
    Media gallery widget
*/
#latest-media-thumbnials{
    width: 455px;
}
#latest-media-thumbnials img{
    width: 150px;
    height: 150px;
}